<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andriod="http://schemas.android.com/tools"
    package="com.example.student.myfirstapp">
    <uses-permission android:name="android.permission.WRITE__SMS"/>
    <uses-permission android:name="android.permission.READ__SMS"/>
    <uses-permission android:name="android.permission.RECIEVE__SMS"/>
    <uses-permission android:name="android.permission.SEND__SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiveSmsActivity"
            android:label="@string/title_activity_receive_sms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SendSmsActivity">
            <receiver android:name="SmsBroadcastReceiver" android:exported="true">
                <intent-filter andriod:priority="999">
                    <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                </intent-filter>

            </receiver>
        </activity>
    </application>

</manifest>